@font-face {
  font-family: 'Colaborate-Light';
  src: url('Colaborate-Light.eot');
  src: url('Colaborate-Light.eot?#iefix') format('embedded-opentype'),
       url('Colaborate-Light.svg#Colaborate-Light') format('svg'),
       url('Colaborate-Light.ttf') format('truetype'),
       url('Colaborate-Light.woff') format('woff'),
       url('Colaborate-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

